Repository ArkExlabs/inpayment-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, bash -c 'tsc --noEmit --skipLibCheck'

docs: update changelog and contributing guide; add example files for SDK usage
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  examples/basic-usage.js
  examples/index.html
  examples/package.json
  examples/pnpm-lock.yaml
  examples/src/App.tsx
  examples/src/index.css
  examples/src/main.tsx
  examples/src/types.d.ts
  examples/tsconfig.json
  examples/tsconfig.node.json
  examples/vite.config.ts
  inpayment-sdk@1.0.0
  package.json
  pnpm-workspace.yaml
  src/InpaymentSDK.ts
  src/interfaces/types.ts
  test/InpaymentSDK.test.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit --skipLibCheck'

chore: update repository URLs in package.json and add GitHub Actions workflow for npm publishing
  .github/workflows/publish.yml
  package.json
Due: prettier --write

chore: remove private flag for npm publishing
  package.json
Due: prettier --write

chore: bump version to 1.0.1 and enhance GitHub Actions workflow for version tagging
  .github/workflows/publish.yml
  package.json
Due: prettier --write

chore: update GitHub Actions workflow to use dynamic GitHub user for tagging
  .github/workflows/publish.yml
Due: none

chore: simplify GitHub Actions workflow by removing version tagging steps
  .github/workflows/publish.yml
Due: none

chore: bump version to 1.0.2, update ESLint rules, and enhance README and examples
  .eslintrc.json
  README.md
  examples/package.json
  examples/src/App.tsx
  package.json
  src/InpaymentSDK.ts
  test/InpaymentSDK.test.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit --skipLibCheck'

docs: update README to reflect changes in user schedule count retrieval and adjust section numbering
  README.md
Due: prettier --write

chore: bump version to 1.0.3, add new functions for vesting schedule retrieval, optimize date formatting, and fix missing properties in VestingSchedule interface
  CHANGELOG.md
  README.md
  examples/src/App.tsx
  package.json
  src/InpaymentSDK.ts
  src/interfaces/types.ts
  test/InpaymentSDK.test.ts
  tsup.config.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit --skipLibCheck'

chore: bump version to 1.0.4, fix signer parameter issue in releaseAllTokens function, and add token price retrieval functionality
  .gitignore
  CHANGELOG.md
  examples/src/App.tsx
  package.json
  src/InpaymentSDK.ts
  src/contracts/abi-PaymentProcessor.json
  src/contracts/abi-ProjectRegistry.json
  src/contracts/abi-VestingManager.json
  src/interfaces/types.ts
  test/InpaymentSDK.test.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit --skipLibCheck'

chore: bump version to 1.0.5, update InpaymentSDK to use batchReleaseTokens function, and add batchReleaseTokens to VestingManager ABI
  package.json
  src/InpaymentSDK.ts
  src/contracts/abi-VestingManager.json
  test/InpaymentSDK.test.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit --skipLibCheck'

chore: bump version to 1.1.0, update to ethers v6, improve error handling and address validation, and enhance test cases for InpaymentSDK
  CHANGELOG.md
  examples/package.json
  examples/src/App.tsx
  package.json
  src/InpaymentSDK.ts
  src/utils/index.ts
  test/InpaymentSDK.test.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit --skipLibCheck'

simplify provider initialization in InpaymentSDK
  examples/vite.config.ts
  package.json
  src/InpaymentSDK.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit --skipLibCheck'

chore: bump version to 1.1.2, update CHANGELOG and README with detailed type field descriptions, ethers v6 dependency, and improved code examples
  CHANGELOG.md
  README.md
  package.json
  src/InpaymentSDK.ts
  src/interfaces/types.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit --skipLibCheck'

chore: bump version to 1.1.3, add getProjectProgress method for fetching project sales progress, and update README with usage example
  CHANGELOG.md
  README.md
  examples/src/App.tsx
  package.json
  src/InpaymentSDK.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit --skipLibCheck'

chore: bump version to 1.1.4, add getTokenUsdValue method for fetching token USD prices, update README with usage examples, and enhance CHANGELOG with new entries
  CHANGELOG.md
  README.md
  examples/src/App.tsx
  package.json
  src/InpaymentSDK.ts
  src/contracts/abi-PriceFeedManager.json
  src/contracts/abi.ts
  src/interfaces/types.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit --skipLibCheck'

chore: bump version to 1.1.6, remove roundIndex parameter from BuyTokensOptions interface and related usages in App component and tests for cleaner API
  CHANGELOG.md
  README.md
  examples/package.json
  examples/src/App.tsx
  package.json
  src/InpaymentSDK.ts
  src/interfaces/types.ts
  test/InpaymentSDK.test.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit --skipLibCheck'

chore: bump version to 1.1.7, update README with API usage instructions and authentication details, and enhance CHANGELOG with new documentation entries
  CHANGELOG.md
  README.md
  package.json
Due: prettier --write

chore: bump version to 1.1.8, optimize token release logic calculation, fix unlock time method error, and update CHANGELOG with new enhancements
  CHANGELOG.md
  examples/src/App.tsx
  package.json
  src/InpaymentSDK.ts
  src/interfaces/types.ts
  test/InpaymentSDK.test.ts
Due: prettier --write, eslint --fix, bash -c 'tsc --noEmit --skipLibCheck'

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.{json,md})
  eslint --fix: any of: *.{js,ts}
  bash -c 'tsc --noEmit --skipLibCheck': any of: *.ts
